body{
    /* background-color: lightcyan; */
    display: block;
}

header.header {
    height: 100px;
    width: 100%;
    background-color: #122f69;
    color: aqua;
    margin-bottom: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
}
header.header span.brand-name {
    padding-left: 40px;
    font-size: xx-large;
}
footer.footer {
    color: aqua;
    background-color: #4162a4;
    height: 40px;
    display: flex;
    justify-items: center;
    align-items: center;
    padding-left: 40px;
}

.brand {
    color:black;
}
.title-header {
    color: #323232;
}

.topic-row {
    /* background-color: lightblue; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}
.topic-row {
    display: flex;
    flex-flow: row nowrap;
}
.sub-topic-row{
    display: none;
}
.sub-topic-row.active{
    display: block;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /*  */

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /*  */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /*  */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /*  */
}